.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wraper {
  background-color: rgb(139, 84, 84);
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
